.footer {
  box-sizing: border-box;
  // max-block-size: 100%;
  background-color: #e67b10;
  padding: 50px;
  // max-width: 1000px;
  align-items: center;
  height: 150px;
  border: 20px solid #e5e1e1;
  color: rgb(0, 0, 0);
  margin-right: 8px;
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
