* {
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

body {
  /* margin: 20px 50px; */
  background: rgb(255, 255, 255);
  display: block;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  border: 20px solid #ffffff;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}
