* {
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

body {
  margin: 50;
  background: rgb(217, 237, 237);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(217, 237, 237);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div a {
    margin: 4px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

input {
  width: 40px;
}
