* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(212, 255, 255);
  font-family: ;
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(220, 217, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div a {
    margin: 4px;
  }
}
