.checkout {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;

  // display: grid;
  // grid-template-columns: 2fr 10fr;
  input {
    width: 700px;
    height: 40px;
    border-radius: 9px;
    margin: 5px;
  }
  button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 9px;
    padding: 5px;
    background-color: azure;
    padding-left: 15px;
    padding-right: 15px;
    width: 150px;
  }
}
