.checkout {
  padding: 20px 50px;

  // display: grid;
  // grid-template-columns: 2fr 10fr;
  input {
    width: 150px;
    height: 20px;
    border-radius: 9px;
  }
  button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 9px;
    padding: 5px;
    background-color: azure;
    padding-left: 15px;
    padding-right: 15px;
  }
}
